name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: compile nob
      run: gcc -o nob nob.c
    - name: compile
      run: ./nob
    - name: run examples
      run: ./nob -run-examples
